* {
    margin: 0;
    padding: 0;
}

header img {
    width: 160px;
    margin-top: 10px;
    margin-left: 10px;
}

header nav {
    background-color: #8b0015;
    height: 23px;
    margin: 6px;
}

.container1 {
    background-color: #d4cdcd;
    width: 821px;
    height: 562px;
    margin-left: 275px;
    margin-top: 45px;
    border-radius: 20px;
    box-shadow: 0 0 10px 2px #00000066;
    margin-bottom: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

.container1 h1 {
    padding: 30px 0;
    text-align: center;
}

.form-label {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    padding: 0 30px;
}

.form-label label {
    padding-right: 20px;
    float: left;
    text-align: right;
    width: 150px;
    font-weight: bold;
}

.form-label input {
    flex-grow: 1;
}

.form-label textarea {
    flex-grow: 1;
}

.bt2,
.bt3 {
    padding: 5px 10px 5px 10px;
    border-radius: 6px;
    background-color: #8b0015;
    color: white;
    font-weight: bold;
    letter-spacing: 0.4px;
}

.submit-div {
    display: flex;
    justify-content: center;
}

.bt2:hover,
.bt3:hover {
    background-color: #a82d41;
}